@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: rgb(9, 2, 31);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 70px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', 'sans-serif';
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    width: 140%; /* Full width on small screens */
    padding: 34px;
    background-image: url('Images/bg3.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
}

.bottom {
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 40px;
}

.icons i {
    cursor: pointer;
}

#MyProgressBar {
    margin-top: 20px;
    width: 80vw;
    cursor: pointer;
}

.songitemcontainer {
    margin-top: 54px;
}

.songItem {
    height: 40px;
    display: flex;
    background-color: white;
    width: 100%; /* Full width on small screens */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.1rem;
    padding: 0 10px; /* Add some padding on small screens */
}

.songItem img {
    height: 40px;
    border-radius: .9rem;
}

.timestamp {
    margin: 0 10px; /* Adjust margin on small screens */
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 5%; /* Adjust left position on small screens */
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 10px;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjust width for medium-sized screens */
    }

    .songItem {
        padding: 0 5px; /* Adjust padding for small screens */
    }

    .timestamp {
        margin: 0 5px; /* Adjust margin for small screens */
    }

    .songInfo {
        left: 3%; /* Adjust left position for small screens */
    }
}
